@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    --bgcolor: rgba(0,0,0,0.8);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bgcolor);
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 70px;
}

header,
footer {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard-container {
    display: grid;
    background-color: #fff;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 3px;
}

.gameboard-container span {
    background-color: var(--bgcolor);
    font-family: 'Monoton', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
}

.marker,
.marker-game {
    display: block;
}

/* .gameboard-container div:nth-child(odd)::before {
    content: 'X';
    display: block;
}

.gameboard-container div:nth-child(even):before {
    content: 'O';
    display: block;
} */

.new-game {
    display: grid;
    /* grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr; */
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    width: 80%;
    max-width: 1000px;
    justify-items: center;
    align-items: center;
    font-family: 'Monoton', sans-serif;
}

/* @media screen and (max-width: 871px) {
    .new-game {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
} */

.vs {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 5px;
    color: #fff;
}

.vs span {
    color:rgb(113, 255, 170);
    font-size: 3rem;
    border-top: 2px solid rgb(113, 255, 170);
    border-bottom: 2px solid rgb(113, 255, 170);
    align-self: flex-start;
    padding: 0 20px;
}

button.start {
    grid-column: 1/-1;
    margin: 0 0;
}

.vs button,
footer button,
.start {
    appearance: none;
    box-shadow: 0;
    border: 3px solid rgb(255, 195, 65);
    color: rgb(255, 195, 65);
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Monoton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
    cursor: pointer;s
}

.vs button:hover,
footer button:hover,
.start:hover {
    filter: brightness(1.2);
}

button.start {
    font-size: 1.5rem;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.mode-choice {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    margin: 0;
}

.mode-choice a {
    cursor: pointer;
}

.player-choice {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    color: #fff;
    font-size: 5rem;
    gap: 10px;
    margin-top: 10px;
}

.player-choice span {
    border: 3px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.player-choice span:hover {
    border: 3px solid rgb(113, 255, 170);
    color:  rgb(113, 255, 170);
}

.player-choice span.selected {
    border: 3px solid rgb(113, 255, 170);
}

.selected {
    color:  rgb(113, 255, 170);
}

.player-choice span.disabled {
    border: 3px solid rgb(128, 130, 129);
    color:  rgb(128, 130, 129);
}

.hide {
    display: none !important;
    opacity: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;;
}

footer #restart {
    appearance: none;

}

.score-player {
     
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-container {
    display: flex;
    font-family: 'Monoton', sans-serif;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
}

.score {
    margin: 0 10px;
}

.score-marker {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

footer > button {
    margin: 0 5px;
}

#end-game {
    color: lightcoral;
    border-color: lightcoral;
}

a {
    text-decoration: none;
    color: rgb(255, 195, 65);
}

a:hover {
    filter: brightness(1.5);
}

.result {
    font-family: 'Monoton', sans-serif;
    text-transform: uppercase;
    color: rgb(113, 255, 170);
    font-size: 3rem;
}


*[data-selected="true"] {
    color: color:  rgb(113, 255, 170);
}

.player-choice span[data-selected="true"] {
    border: 3px solid rgb(113, 255, 170);
}

.game-mode:not(.selected) {
    border-bottom: 2px dotted;
}